<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <style>
        label {
            font-size: 24px;
        }
    </style>
</head>
<class>

<form method="post" action=".">{%  csrf_token %}

    <div class="box">
        {{ form.username.label_tag }} {{form.username }}
    </div>

    <div class="box">
        {{ form.password1.label_tag }} {{form.password1 }}
    </div>

    <div class="box">
        {{ form.password2.label_tag }} {{form.password2 }}
    </div>
    <button type="submit">SIGN UP</button>

</form>

</class>

</body>
</html>